/* Content box */
#automata-content {
  min-height: 50vh;
}

/* Side Navbar */
.sidenav {
  width: 30%;
  min-width: 130px;
  max-height: 100%;
  text-align: center;
  border-right: 3px solid var(--theme-color);
  overflow-y: scroll;
}

.sidenav p {
  width: 100%;
  background-color: var(--theme-color);
  color: var(--bg-color);
  margin: 0px;
  padding: 5px 20px;
}

.select-btn {
  display: block;
  height: var(--toolbar-height);
  cursor: pointer;
}

.selected {
  background-color: var(--highlight-color);
  color: var(--theme-color);
  cursor: auto;
}

.select-btn:hover {
  background-color: var(--highlight-color);
}

/* Side content */
.side-content {
  display: none;
  width: 70%;
  min-width: 300px;
  margin: 0;
  padding: 20px;
  overflow-y: scroll;
  text-align: center;
}

#life-info {
  display: block; /* Only show life on load */
}

.side-content > * {
  text-align: left;
}

.side-content img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  border: 5px solid var(--highlight-color);
}

.side-content h1 {
  font-size: 2em;
  margin: 0px;
  margin-bottom: 10px;
}

.side-content p {
  margin: 10px 0px;
}
