html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

#toolbar {
  height: 5vh;
  background-color: burlywood;
}

canvas {
  display: block;
  width: 100vw;
  height: 95vh;
  border: 1px black;
}
