:root {
  --grid-bg-color: #15191f;
  --bg-color: #323a49;
  --highlight-color: #48546a;
  --theme-color: #95b0dc;
  --center-cell-color: rgb(255, 129, 129);
  --toolbar-height: 5vh;
  --toolbar-opacity: 0.96;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-decoration: underline;
}

/*! Boilerplate for buttons */
button {
  width: 100%;
  height: 100%;
  padding: 0px 3px;
  border: none;
  /* Inherit other properties */
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

/*! Boilerplate for inputs */
input::-webkit-input-placeholder {
  font-family: "Pixelify Sans", sans-serif;
}

input:-ms-input-placeholder {
  font-family: "Pixelify Sans", sans-serif;
}

input:-moz-placeholder {
  font-family: "Pixelify Sans", sans-serif;
}

input::-moz-placeholder {
  font-family: "Pixelify Sans", sans-serif;
}

input {
  box-sizing: border-box;
  border: none;
  border-bottom: 3px dotted var(--theme-color);
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-color: transparent;
  caret-color: var(--theme-color);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: var(--theme-color);
}

input::placeholder {
  color: var(--theme-color);
  font-size: 1em;
  opacity: 0.5;
  transition: color 0.5s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

a:link,
a:visited {
  color: var(--theme-color);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: block;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

/*! Boilerplate for selects */
.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
select {
  appearance: none;
  width: 100%;
  height: 100%;
  padding: 3px 5px;
  border: 3px solid var(--theme-color);
  /* Inherit other properties */
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

select:hover,
select:active {
  background-color: var(--theme-color);
  color: var(--bg-color);
  cursor: pointer;
}

select > option {
  background-color: var(--bg-color);
  color: var(--theme-color);
  font-family: "Pixelify Sans", sans-serif;
}

option:hover {
  color: var(--highlight-color);
}

option:disabled {
  background-color: var(--center-cell-color);
  color: var(--bg-color);
}

/*! Layout Styling */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
  background-color: var(--bg-color);
  overflow: hidden;
  font-family: "Pixelify Sans", sans-serif !important;
  font-weight: bold;
  position: relative;
  cursor: crosshair;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#overlayCanvas {
  z-index: 1;
}
