/*Dropdown Boilerplate */
.dropdown {
  padding: 0px !important;
}

.dropbtn {
  width: 100%;
  height: 100%;
  padding: 0px 3px 0px 3px;
  border: none;
  /* Inherit other properties */
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: var(--toolbar-bg-color);
  z-index: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--toolbar-theme-color);
  color: white;
}

.dropdown-content > * {
  padding: 2px 6px;
  display: block;
  height: 5vh;
}

.dropdown-content a:hover {
  background-color: var(--toolbar-highlight-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Title to left of tabbar */
#app-title {
  background-color: var(--toolbar-theme-color);
  color: var(--toolbar-bg-color);
}

/* Console */
#console-container {
  padding: 0px 10px 0px 10px;
  float: none;
  overflow: hidden;
  font-size: 1em;
  text-align: left;
}
