.window {
  position: absolute;
  text-align: center;
  min-width: 300px;
  z-index: 9;
  color: var(--theme-color);
  background-color: var(--bg-color);
  border: 3px solid var(--theme-color);
  opacity: var(--toolbar-opacity);
  display: none;
}

.window-header {
  height: var(--toolbar-height);
  padding: 0px 10px;
  cursor: move;
  z-index: 10;
  background-color: var(--theme-color);
  color: var(--bg-color);
}

.window-header span {
  line-height: var(--toolbar-height);
}

.window-title {
  float: left;
}

.window-delete {
  cursor: pointer;
  font-size: 1.2em;
  float: right;
}
